.loginWrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  align-items: center;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 500px;
  padding-bottom: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}
.logo-admin {
  width: 70%;
  display: block;
  margin: auto;
}
.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 50px;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputButton {
  background-color: #F0C52D;
}
.inputButton,
.inputButtonTwo {
  color: black;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Kantumruy Pro", sans-serif;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-color: white;
    width: 100%;
}

.inputButtonTwo a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff; /* or any color you want for the text */
  text-decoration: none; /* to remove the underline */
}

.inputButtonTwo {
  background-color: #088A5B;
  color: #fff;
  margin-top: 20px;
}

.passwordContainer {
  position: relative;
  width: 100%;
}

 .passwordIcon {
  position: relative;
  left: 360px;
  justify-content: right;
  transform: translateY(-115%);
  cursor: pointer;
}


@media (max-width: 600px) {
  .mainContainer {
    width: 90%;
  }

  .resultContainer, .historyItem, .buttonContainer, .inputBox {
    width: 100%;
  }

  .passwordIcon {
    left: calc(90% - 40px);
  }

  .logo {
    width: 80%;
  }
}