.form-heading {
    font-size: 24px;
    margin-top: 30px;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 10px;
}

.contact-form-wrapper {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .MuiTextField-root {
        width: 90% !important;
    }
    .contact-form-wrapper {
        margin-left: 0;
    }
    .form-heading {
        font-size: 16px;
    }
}