.course-details {
    font-family: "Kantumruy Pro", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 3rem;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.course-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.course-details img {
    width: 100%;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section p {
    font-size: 20px;
    line-height: 1.5;
}

button {
    background-color: #f2c72d;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}



