.courses-box-title {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    margin-top: 40px;
    margin-left: 80px;
    cursor: pointer;
}

.header-image {
  position: relative;
  overflow: hidden;
  max-height: 700px; /* Adjust the maximum height as needed */
}

.header-image img {
  width: 100%;
  height: auto;
  display: block;
}

.courses-container {
    margin-left: 80px;
    text-align: center;
    background-color: white;
    padding-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 80px;
  }

 
  @media only screen and (max-width: 768px) {
    .courses-box-title {
      display: block;
      font-size: 20px;
      margin-right: 20px;
      margin-left: 10px;
      text-align: center;
    
    }
  }
  

  
