/* Gallery.css */

.gallery-title {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Kantumruy Pro";
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 6%;
  font-style: italic;
  cursor: pointer;
  padding: 10px, 20px;
}

.gallery-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust min and max width as needed */
  margin: 0 20px; 
}

.gallery-grid img {
  width: 25%; 
  height: auto;
  cursor: pointer;
}
.pagination-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -1vw;
}


@media (max-width: 768px) {
  .gallery-title {
    font-size: 25px;
  }
  .gallery-grid {
    flex-direction: column;
    align-items: center;
  }
  .gallery-grid img {
    width: 100%;
  }
}

/* Customize further as needed */
