.course-list {
  position: relative;
    display: flex; 
    justify-content: center; 
    margin-top: 3%;
    margin-left: 20%;
}

.gallery-image {
  margin: 10px; /* Adjust this value to increase or decrease the gap */
}


@media (max-width: 768px) {
  .course-list {
    margin-left: 0;
  }
}