/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling for the container */
.containerWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  width: 100%;
  background-color: #088A5B;
}

/* Container for the flex layout */
.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 20px; 
  margin-bottom: 30px;
}

/* Left column styles */
.contentSection {
  flex: 1;
  max-width: 600px;
  color: white;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-top: 40px;
  margin-left: 50px;
}

.hero-features {
  margin-top: 8px;
}

.hero-feature {
  margin-top: 30px; /* Adjusted margin */
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 500;
  font-size: 16px; /* Adjusted font size */
  margin-left: 50px;
}

/* Right column styles */
.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  margin-top: 20px; /* Adjusted margin */
}

/* Hero image styles */
.heroImage {
  width: 100%; /* Adjusted width */
  max-width: 400px; /* Added max-width */
  height: auto;
  border-radius: 5px;
}

.socialIcons {
  position: absolute;
  bottom: -50px; /* Adjusted bottom position */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons .react-social-icons svg {
  width: 30px;
  height: 30px;
  margin: 0 5px; /* Adjusted margin for smaller screens */
}

@media (max-width: 767px) {
  .flexContainer {
    flex-direction: column-reverse; /* Adjusted flex direction for smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .heading {
    text-align: center; /* Center align the heading on smaller screens */
    margin-top: 40px; /* Adjusted margin */
    margin-left: 0;
    font-size: 15px;
  }

  .feature {
    text-align: center; /* Center align the features on smaller screens */
    margin-top: 20px; /* Adjusted margin */
    margin-left: 0;
    font-size: 14px;
  }

  .imageSection {
    margin-top: 40px; /* Adjusted margin */
  }

  .heroImage {
    max-width: 100%;
  }

  .socialIcons {
    bottom: -50px; /* Adjusted bottom position */
    height: 20;
    width: 20;
  }
}
