.news_update_title{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-align: justify;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 3rem;
    font-size: 2.5rem;
    margin-bottom: 1vh;
    color: white;
}
.program_container {
    text-align: center;
    background-color:#006C44;
    margin-top: 0;
  }
.program_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 17vh;
    max-width: 900px; 
    width: 100%;
    padding: 150px;
    grid-gap: 20px 30px;
  }

  .all_news {
    background-color: #F0C52D;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 2rem 10px auto; /* Adjust the right margin as needed */
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-style: italic;
  }

  
  @media only screen and (max-width: 768px) {

    .news_update_title {
      font-size: 1.25rem;
    }
    .all_news {
      padding: 5px 10px;
      font-size: 10px;
    }
  }

  