    .active{
        color: #FF0000;
    }

    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    display: flex;
    position: sticky; /* or absolute, fixed, or sticky */
    box-sizing: border-box;
    padding: 0.3rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #F0C52D;
    min-width: 160px;
    max-width: 80vw; /* Set maximum width to 80% of the viewport width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
  }
  
  nav ul li:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  .dropdown-menu a:not(.active):hover {
    color: #088A5B; 
  }
  .login-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #088A5B;
    height: 52px;
    width: auto;
    top: 0;
    padding: 0.5rem;
  }
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #088A5B;
    padding-right: 3.5rem;
  }

  
  .dropdown-link::after {
    content: "▼";
    display: inline-block;
    margin-left: 5px;
    transform: scaleY(0.6);
    transition: transform 0.3s ease;
  }
  
  .dropdown-link:hover::after {
    transform: scaleY(-0.6);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    margin: 1rem;
    display: flex;
    position: sticky; /* or absolute, fixed, or sticky */
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .nav__toggle,
  .nav__close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav__cta {
    background-color: #088A5B;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.75rem 1.5rem;
  }
  
  @media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color:#F0C52D;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 50%;
      height: 100%;
      padding: 6rem 3rem 0;
      transition: right 0.4s;
    }
    .dropdown-menu {
      display: none;
      position: relative; /* Change this from absolute to relative */
      background-color: #F0C52D;
      min-width: 160px;
      max-width: 80vw; /* Set maximum width to 80% of the viewport width */
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow-x: auto; /* Enable horizontal scrolling if necessary */
  }
  .dropdown-menu a {
      color: #088A5B;
      padding: 0.5rem;
  }
  .nav__list {
    margin-left: -2rem;
  }
  
  }

  @media screen and (max-width: 300px) {
    .nav__menu {
      padding: 4rem 1rem 2rem;
    }
  
    .nav__list {
      row-gap: 1rem;
    }
  
    .nav__link,
    .nav__cta {
      font-size: 12px;
    }
  
    .nav__cta {
      padding: 8px 16px;
      font-size: 12px;
      margin-top: 1rem;
      width: auto;
      white-space: nowrap;
    }

    .logo{
        width: 30%;
    }
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__link {
    font-weight: bold;
    transition: color 0.4s;
  }
  

  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  
  .show-menu {
    right: 0;
  }
  .nav__listt {
    display: flex;
    flex-direction: column;
    column-gap: 2.5rem;
  }
  
  .nav__list__web {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    align-items: center;
    list-style-type: none;
    padding: 0; 
  }
  
  .nav__menu_mobile {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
  @media screen and (min-width: 1150px) {
    .nav {
      height: calc(3.5rem + 1rem);
    }
    .nav__toggle,
    .nav__close {
      display: none;
    }
  
    .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
  
    }
    
  }
    nav .title {
        font-size: 0.5rem;
        margin: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }
    .login-rectangle {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #088A5B;
        height: 52px;
        width: auto;
        top: 0;
        padding: 0.5rem;
    }

    .top_header_text {
        color: #ffffff;
        font-family: "Kantumruy Pro", sans-serif; 
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lang_box {
        /* border: 2px solid #fff !important; */
        padding: 5px !important;
        font-family: "Kantumruy Pro", sans-serif; 
        font-weight: 700;
        font-size: 15px;
        border: 2px solid #fff !important;
        color: #fff;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    .dropdown-icon {
        margin-left:  5px; /* Adjust the margin as needed */
        cursor: pointer;    
    }


    .lang_list {
        padding: 2px 0px !important;
    }

    .lang_list:hover {
        color: #006C44 !important;
    }

    .lang_drop_down {
        min-width: 7rem;
        padding: 0.2rem;
    }

    .btn_lang_position {
        position: absolute;
        right: 145px;
        /* left: 50%; */
        top: -3%;

    }

    .lang_box i {
        transition: transform  0.3s ease;
    }

    /* Style the dropdown menu */
    .p-dropdown-content {
        display: none;
        cursor: pointer;
        position: absolute;
        font-size: 18px;
        background-color: #F0C52D;
        min-width:  80px;
        box-shadow:  0px  8px  16px  0px rgba(0,0,0,0.2);
        font-family: "Kantumruy Pro", sans-serif; 
        padding:  12px  16px;
        z-index:  1;
        white-space: nowrap; /* Prevent text from wrapping */
        overflow-x: auto; /* Enable horizontal scrolling if necessary */
        list-style: none; /* This removes the bullet points */
    }

    .p-dropdown .p-dropdown-content,
    .p-dropdown ul.p-dropdown-content {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    /* Add a smooth transition for the dropdown menu */
    .p-dropdown-content {
        transition: opacity  0.3s ease, transform  0.3s ease;
    }

    .logo {
        width: 40%; 
        height: auto;
    }

    .logo-container {
        margin-right: 10px; 
        transition: margin-right 0.3s ease;
        width: auto;
    }
    nav ul {

        margin-right: 8rem;
    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: #088A5B;
        width: max-content;
        padding: 0.01px;
        border-radius: 0.5rem;
        font-family: "Kantumruy Pro", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 1.3rem;
    }
    nav ul li a.dropdown-link {
        display: block;
        margin: 0 0.05rem;
        padding: 0.5rem;
        width: max-content;
    }

    nav ul li a.active {
        color: #FF0000;
    }

    nav ul li a:not(.active):hover {
        color:black;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #F0C52D;
        min-width: 160px;
        max-width: 80vw; /* Set maximum width to 80% of the viewport width */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        white-space: nowrap; /* Prevent text from wrapping */
        overflow-x: auto; /* Enable horizontal scrolling if necessary */
    }

    nav ul li:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    .dropdown-menu a:not(.active):hover {
        color: #088A5B; 
    }
    .dropdown-link {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #088A5B;
        padding-right: 3.5rem;
    }

    .dropdown-link::after {
        content: "▼";
        display: inline-block;
        margin-left: 5px;
        transform: scaleY(0.6);
        transition: transform 0.3s ease;
    }

    .dropdown-link:hover::after {
        transform: scaleY(-0.6);
    }
    .parent-div {
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 10000;
    }

    .parent-div.scrolling nav {
        padding: 0.01rem; 
        transition: 0.3s; 
    }



@media (max-width: 1200px) {

    .logo {
        width: 50%; /* Adjust the width for larger screens */
        
        /* Add these lines to center the logo vertically */
    }

    .lang_drop_down {
        min-width: 5rem; /* Adjust minimum width */
        display: none;

    }

 
}

