.active{
    color: #F0C52D;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: White;
    position: sticky;
    top: 0;
    border: 2px solid #ddd;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.login-rectangle {
    display: flex;
    justify-content: flex-end;;
    align-items: center;
    background-color: #006C44;
    height: 52px;
    width: auto;
}
.login-button {
    background-color: #F0C52D;
    color: black;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.login-button:hover {
    color: black; 
}

.logo {
    width: 50px; 
    height: auto;
}

.logo-container, .title-container {
    margin-right: 10px; 
}

.khmer {
    font-family: "Khmer OS SiemReap", Arial, sans-serif;
}

.english {
    font-family: "Inter", Arial, sans-serif;
}
nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #006C44;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-family: 'Roboto Slab', serif;
}

nav ul li a:not(.active):hover {
    color:black ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: grey;
    border-radius: 0.2rem;
}


@media (max-width: 864px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
    .login-button {
        margin-top: 0.25rem; 
    }
}