a {
    text-decoration: none;
}
.read_more {
    color: black;
    background-color: #F0C52D;
    padding: 8px 20px;
    cursor: pointer;
    width: auto;
    font-size: 1.2rem;
    font-family: "Kantumruy Pro", sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .ctitle_program {
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  
  .program_box {
    padding-top: 20px;
  }
  
  .c_program_image {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 5rem 5rem 0px -4rem #f2c72d, -5rem -5rem 0px -4rem #f2c72d; 
  }
  
  .c_program_image_w {
    width: 50%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5rem 5rem 0px -4rem #fff, -5rem -5rem 0px -4rem #fff; 
  }
  
  .c_program_image_y {
    width: 50%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5rem 5rem 0px -4rem #f2c72d, -5rem -5rem 0px -4rem #f2c72d; 
  }
  
  .p_program {
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  
  .text__content {
    line-height: 1.4;
    color: white;
    font-family: "Kantumruy Pro", sans-serif;
    font-size: 1rem;
    max-width: 400px;
    margin: 0 auto; 
    padding-bottom: 50px;
    margin-top: -10px;
    text-align: justify;
    word-spacing: 0.5px;
    padding-left: 2rem;
  } 

  .d-flex {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  .text__content {
    font-size: 1rem;
    text-align: center;
  }
  .c_program_image_y {
    width: 80%;
    box-shadow: 5rem 5rem 0px -4rem #f2c72d, -5rem -5rem 0px -4rem #f2c72d; 

  }
  .c_program_image_w {
    width: 80%;
  }
  .ctitle_program {
    font-size: 1.1rem;
  }

  .read_more {
    font-size: 0.8rem;
  }
}
