/* Pagination.css */
.pagin {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .btn_paginat {
    padding: 10px 0;
    width: 50%;
    text-align: center;
    color: #fff !important ;
    background-color: #206c44 !important;
    border-color: #206c44 !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .btn_paginat:hover {
    background-color: #035429 !important;
    border-color: #035429 !important;
  }
  
  .btn_next {
    border-left: 1px solid black;
  }
  
  .page_show {
    font-size: 1.1rem;
    margin-bottom: 6px;
  }
  
  .cur_p {
    color: #206c44;
    font-weight: bold;
  }
  
  .btn_disable {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .btn_disable:active {
    border-color: #e6e8eb !important;
    background-color: #f4f5f8 !important;
  }
  