.partner-container {
    background-color: #E1E1E1;
    width: 100%;
    margin-bottom: 20px;  

  }
  
  .partner_title {
    color: black    ;
    font-weight: bold;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    font-size: 2.5rem;
    padding-left: 50px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  
  .partner-owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
  
.partner-owl-carousel .item {
  flex: 0 0 auto;
  width: auto;
  height:400px;
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
  overflow: hidden;
  color: #E1E1E1;
}
.partner-owl-carousel .item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.partner-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.partner-carousel-image {
  max-height: 300px; /* Adjust the value according to your design */
  max-width: 100%; /* Ensures the image doesn't overflow its container */
}

 

  
  @media (max-width: 768px) {
    .partner-owl-carousel .item {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 500px;
    }
  
    .partner_title {
      font-size: 1.78rem;
      padding: 20px 10px; /* Adjust padding for smaller screens */
    }

  }
  