/* CourseCard.css */

/* Adjust the width as needed */
.card-media-img {
  max-width: 100%;
  max-height: auto;
}

.card-action-area {
  max-width: auto;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bt_read_more{
  background-color: black;
}

